:host {
  display: block;
  position: absolute;
  z-index: 10;
}

.timeout-indicator {
  fill: #ffa726;
}

.timeout-text {
  text-anchor: middle;
  stroke: black;
  stroke-width: 1px;
  user-select: none;
}
